.section1 {
  background-image: url('/assets/img/hero_1.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  margin-top: 3%;
  /*top: 5%;*/

  height: 30vh;
  color: #fff;
  text-align: center;


}

@media screen and (max-width: 761px) {
  .section1 {
    background-image: url('/assets/img/hero_1.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 5%;

    height: 70vh;
    color: #fff;
    text-align: center;


  }
}


label {
  color: white;
  font-size: 17px;
}
