<user-navbar></user-navbar>



<section class="">
  <app-all-room></app-all-room>
</section>

<section class="bg-white py-5 ">
<h3 class="text-center">Our Rental Process</h3>
<div class="col-md-5 mx-auto mt-5">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="page-header min-vh-50  m-3 border-radius-xl"
             style="background-image: url('assets/img/main/1-choose-date-3d.jpg');">
          <span class=" bg-gradient-dark"></span>
        </div>
        <div class="container-fluid px-3">
          <div class="col-lg-12">
            <div class="info-horizontal bg-gradient-primary border-radius-xl p-5">
              <div class="description ">
                <h5 class="text-white text-center">1- Choose PickUp Date</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="page-header min-vh-50 m-3 border-radius-xl"
             style="background-image: url('assets/img/main/2-search-3d.jpg');">
          <span class=" bg-gradient-dark"></span>
        </div>
        <div class="container-fluid px-3">
          <div class="col-lg-12">
            <div class="info-horizontal bg-gradient-primary border-radius-xl p-5">
              <div class="description ">
                <h5 class="text-white text-center">2- Choose a Room</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="page-header min-vh-50 m-3 border-radius-xl"
             style="background-image: url('assets/img/main/3-contract-3d.jpg');">
          <span class=" bg-gradient-dark"></span>
        </div>
        <div class="container-fluid px-3">
          <div class="col-lg-12">
            <div class="info-horizontal bg-gradient-primary border-radius-xl p-5">
              <div class="description ">
                <h5 class="text-white text-center">3- Fill In the Form</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="page-header min-vh-50 m-3 border-radius-xl"
             style="background-image: url('assets/img/main/4-key-3d.jpg');">
          <span class=" bg-gradient-dark"></span>
        </div>
        <div class="container-fluid px-3">
          <div class="col-lg-12">
            <div class="info-horizontal bg-gradient-primary border-radius-xl p-5">
              <div class="description ">
                <h5 class="text-white text-center">4- Take a Trip</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="min-vh-75 position-absolute w-100 top-0">
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</div>
</section>

<!--footer -->
  <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
    <div class="container p-4">
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About company</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolorem ullam rem, maiores reprehenderit provident? Sit, repudiandae esse, debitis dolorum ratione dicta a, vero aut amet eum nobis consequatur eius.
          </p>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, accusamus voluptatem ad blanditiis laudantium quam recusandae laborum. Iste eum, facilis repudiandae dolor temporibus recusandae doloremque excepturi quia, cupiditate ab voluptatem?
          </p>

          <div class="mt-4">
            <!-- Linkedin -->
            <a type="button" class="btn btn-floating btn-primary text-white btn-lg mx-2"><i
              class="fab fa-linkedin-in"></i></a>
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-primary text-white btn-lg mx-2"><i
              class="fab fa-facebook-f"></i></a>

          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 ms-3 ">Address</h5>

          <ul class="fa-ul mt-4 address">
            <li class="mb-3">
              <span class="fa-li "><i class="fas fa-home"></i></span><span class="ms-2">Tataouine, Tunisia</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">maatoug610@gmail.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+216 99 999 999</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+216 88 888 888</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 ">Opening hours</h5>
          <div class="address">
            <table class="table text-center text-white ">
              <tbody class="font-weight-normal ">
              <tr>
                <td class="address">Mon - Thu:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>9am - 10pm</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--Grid column-->
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      All Right Reserved
    </div>
  </footer>

